* {
    margin: 0;
    padding: 0;
}

body {
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 203, 211);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

/* sections */
section {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-width: thick;
    margin-right: 25px;
}

.card span.sub {
    margin-bottom: 18px;
}


